@model MVCLoginExample.Models.Calculator

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{

    
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Calculator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Num1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Num2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Add" value="Add" class="btn btn-default" />
                    <input type="submit" name="Sub" value="Sub" class="btn btn-default" />
                    <input type="submit" name="Mul" value="Mul" class="btn btn-default" />
                    <input type="submit" name="Div" value="Div" class="btn btn-default" />
                </div>
            </div>*@

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="calsi" value="Add" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Sub" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Mul" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Div" class="btn btn-default" />
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="Add" value="Add" class="btn btn-default" />
                <input type="submit" id="Sub" value="Sub" class="btn btn-default" />
                <input type="submit" id="Mul" value="Mul" class="btn btn-default" />
                <input type="submit" id="Div" value="Div" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
