@model MVCLoginExample.Models.Calculator

@{
    ViewBag.Title = "Arthematic Operations";
}

<h2>Arthematic Operations</h2>
@*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(function () {

            $("#Add").click(function () {
                var x = $("#Num1").val();
                var y = $("#Num2").val();
                var z = parseInt(x) + parseInt(y);
                $("#Result").val(z);
            });

            $("#Sub").click(function () {
                var x = $("#Num1").val();
                var y = $("#Num2").val();
               var z = parseInt(x) - parseInt(y);
                $("#Result").val(z);
            });

            $("#Mul").click(function () {
                var x = $("#Num1").val();
                var y = $("#Num2").val();
                var z = parseInt(x) * parseInt(y);
                $("#Result").val(z);
            });

            $("#Div").click(function () {
                var x = $("#Num1").val();
                var y = $("#Num2").val();
                var z = parseInt(x) / parseInt(y);
                $("#Result").val(z);
            });
        });
    </script>*@


@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Calculator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Num1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Num2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DisplayFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Add" value="Add" class="btn btn-default" />
                    <input type="submit" name="Sub" value="Sub" class="btn btn-default" />
                    <input type="submit" name="Mul" value="Mul" class="btn btn-default" />
                    <input type="submit" name="Div" value="Div" class="btn btn-default" />
                </div>
            </div>*@

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="calsi" value="Add" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Sub" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Mul" class="btn btn-default" />
                    <input type="submit" name="calsi" value="Div" class="btn btn-default" />
                </div>
            </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="Add" value="Addition" class="btn btn-default" />
                <input type="button" id="Sub" value="Subs" class="btn btn-default" />
                <input type="button" id="Mul" value="Multi" class="btn btn-default" />
                <input type="button" id="Div" value="Divi" class="btn btn-default" />
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" formaction="Addition" formmethod="post" class="btn btn-default" />
                <input type="submit" value="Sub" formaction="Subtraction" formmethod="post" class="btn btn-default" />
                <input type="submit" value="Mul" formaction="Multiplication" formmethod="post" class="btn btn-default" />
                <input type="submit" value="Div" formaction="Division" formmethod="post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
